<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListActive</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    
    <table class="table">
        <thead>
            <tr>
                <td><h1>ACTIVE PRODUCTS LIST</h1></td>
            </tr>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
        <%productList.forEach(product => {%>
            <tr>
                <th scope="row"><%= product._id %></th>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
            </tr>
        <%})%>
        </tbody>
      </table>
</body>
</html>