<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1>User Registration</h1>
    <form class="container" method="post" action="/">
    	<div class="form-group">
    		<input class="form-control" name="firstName" type="text">
    	</div>
        <div class="form-group">
            <input class="form-control" name="lastName" type="text">
        </div>s="form-group">
            <input class="form-control" name="email" type="email">
        </div>s="form-group">
            <input class="form-control" name="password" type="password">
        </div>s="form-group">
            <input class="form-control" name="mobileNo" type="text">
        </div>
    	
    	<button>Register User</button>
    </form>
</body>
</html>